.article
    color #000
.article >>> h1
.article >>> h2
.article >>> h3
.article >>> h4
    color #000
    margin-top 1em
.article >>> h1
.article >>> h2
.article >>> h3
.article >>> h4
.article >>> h5
.article >>> dl
    margin-bottom: 16px;
    padding 0
.article >>>  p
    margin 8px 0
.article >>>  h1 
    font-size 48px
    line-height 54px
.article >>> h2 
    font-size 36px
    line-height 42px
.article >>>  h1
.article >>> h2 
    border-bottom 1px solid #EFEAEA
    padding-bottom 10px
.article >>> h3
    font-size 24px
    line-height 30px
.article >>> h4 
    font-size 21px
    line-height 26px
.article >>>  h5 
      font-size 18px
      list-style:23px
.article >>>  a 
      color #0099ff
      margin 0
      padding 0
      vertical-align baseline
.article >>>  a:hover 
      text-decoration none
      color #ff6600
.article >>> a:visited 
    /*color: purple;*/
.article >>> ul
.article >>> ol
    padding 0
    padding-left 24px
    margin 0
.article >>> li 
    line-height 24px
.article >>> p
.article >>> ul
.article >>> ol 
    font-size 16px
    line-height 24px
.article >>> ol ol
.article >>> ul ol 
    list-style-type lower-roman
.article >>>  pre 
    max-width 800px
    white-space pre-wrap
    line-height 1.7em
    overflow auto
    padding 6px 10px
.article >>>  aside 
    display block
    float right
    width 390px
.article >>>  blockquote 
    border-left .5em solid #eee
    padding 0 0 0 2em
    margin-left 0
.article >>>  blockquote  cite 
    font-size 14px
    line-height 20px
    color #bfbfbf
.article >>>  blockquote cite:before
    content '\2014 \00A0'
.article >>>  blockquote p 
    color #666